body{
    background-image: url(../images/purplewallpaper.png);
    background-repeat: no-repeat;
    background-size: cover;
} 
/* this is the genre css*/
.cover {
    height: 200px;
    width: 200px;
    float: left;
    margin: 30px 30px 30px 30px;
  position: relative;
  text-align: center;
}
#genre{  
    padding-top: 100px;
    text-align: center;

}
img {
    height: 200px;
    width: 200px;
    border-radius: 25px;
    border-style: solid;
    border-color: limegreen;
    border-width: 2px;
}
.cover:hover .overlay{
    opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 200px;
  width: 200px;
  opacity: 0;
  border-radius: 25px;
  transition: .5s ease;
  background-color: limegreen;
}
.text{
    padding-top: 35%;
    font: bolder;
    font-size: 30px;
    font-family: 'Nanum Gothic', sans-serif;
}
.next {
    width: 100px;
    margin-right: 70px;
}
.prev {
    width: 100px;
}
/* this is the genre css*/

#zipCode{
    background-color:none;
}

#genrePage{
    display: flex;

}