* {
  padding: 0;
  margin: 0;
}

body {
  background-color: #181818;
  font-family: "Nanum Gothic", sans-serif;

  /* background-image: linear-gradient(
    to bottom right,
    rgb(0, 0, 0),
    rgb(53, 5, 33)
  ); */
  /* height: 100vh; */
}
.container {
  height: 100vh;
  /* border: 1px solid saddlebrown; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}
/*


#login {
  font-family: "Ubuntu", sans-serif;
  color: #fff;
}

#zipCode {
  width: 132px;
}
.cover {
  height: 200px;
  width: 200px;
  float: left;
  margin: 30px 30px 30px 30px;
}
#genre {
  padding-top: 100px;
  text-align: center;
}

.form-group input {
  width: 100%;
  border: 1px solid rgb(85, 249, 255);
}
*/

img {
  height: 200px;
  width: 200px;
}
/* --------- */
.button {
  width: auto;
  display: inline-block;
  padding: 0 18px 0 6px;
  border: 0 none;
  border-radius: 30px;
  text-decoration: none;
  transition: all 250ms linear;
}
.button:hover {
  text-decoration: none;
}

.button--social-login {
  margin-bottom: 12px;
  margin-right: 12px;
  color: white;
  height: 50px;
  line-height: 46px;
  position: relative;
  text-align: left;
}
.button--social-login .icon {
  margin-right: 12px;
  font-size: 24px;
  line-height: 24px;
  width: 42px;
  height: 24px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 4px;
}
.button--social-login .icon:before {
  display: inline-block;
  width: 40px;
}
.button--social-login .icon:after {
  content: "";
}
/* --------- */

.button--spotify {
  background-color: #2ebd59;
  border: 1px solid #249446;
  font: ;
}
.button--spotify .icon {
  border-right: 1px solid #249446;
}
.button--spotify .icon:after {
  border-right: 1px solid #4bd374;
}
.button--spotify:hover {
  background-color: #29a84f;
  color: #181818;
}
