* {
  padding: 0;
  margin: 0;
}

body {
  margin: 0;
  height: 100%;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #85006e, #63068f, #85006e, #63068f);
  background-size: 400% 400%;
  animation: gradientBG 5s ease infinite;
}
/* this is the genre css*/
.cover {
  height: 100px;
  width: 100px;
  float: left;
  margin: 20px 20px 20px 20px;
  position: relative;
  text-align: center;
}
#genre {
  padding-top: 0px;
  text-align: center;
}
.cover img {
  height: 100px;
  width: 100px;
  border-radius: 25px;
  border-style: solid;
  border-color: limegreen;
  border-width: 2px;
}
.cover:hover .overlay {
  opacity: 1;
}
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
  height: 100px;
  width: 100px;
  opacity: 0;
  border-radius: 25px;
  transition: 0.5s ease;
  background-color: limegreen;
}
.text {
  padding-top:15%;
  font: bolder;
  font-size: 15px;
}
.next {
  width: 100px;
  margin-right: 70px;
}
.prev {
  width: 100px;
}
/* this is the genre css*/
/* enter zip code*/
#zipCode {
  background-color: none;
}

#genrePage {
  display: flex;
}
.form-control {
  border-width: 1.5px;
  border-style: solid;
  border-color: limegreen;
  background-color: transparent;
}
/* enter zip code*/

#generateZip {
  background-color: #4bd374;
}
.container {
  width: 100%;
  top: 35%;
  text-align: center;
}

/* background gradient */

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
#login {
  margin-top: 10%;
}
#logIn img {
  height: 150px;
  width: 150px;
}

#logIn p {
  color: #4bd374;
  font-size: 130px;
  font-family: "Great Vibes", cursive;
  text-shadow:3px 3px black;
}

#logIn .button,
.generateZip {
  width: auto;
  display: inline-block;
  padding: 0 18px 0 6px;
  border: 0 none;
  border-radius: 30px;
  text-decoration: none;
  transition: all 250ms linear;
}

#logIn .button:hover {
  text-decoration: none;
}

#logIn .button--social-login {
  margin-bottom: 12px;
  margin-right: 12px;
  height: 50px;
  line-height: 46px;
  position: relative;
  text-align: left;
  padding-left: 18px;
  font-size: 20px;
}
#logIn .button--social-login .icon {
  margin-right: 12px;
  font-size: 24px;
  line-height: 24px;
  width: 42px;
  height: 24px;
  text-align: center;
  display: inline-block;
  position: relative;
  top: 4px;
}
#logIn .button--spotify {
  background-color: #2ebd59;
  border: 1px solid #249446;
  color: #181818;
}

#logIn .button--spotify:hover,
#generateZip:hover {
  color: #fff;
}
.footer {
  background: #282828;
  width: 100%;
  border-top: 1px solid #4bd374;
  padding: 30px;
  margin-top: 0px;
  bottom: 0;
}
.header {
  background: #282828;
  border-bottom: 1px solid #4bd374;
  padding: 15px;
  width: 100%;
  position: fixed;
  z-index: 1;
  top: 0;
}

.header .page-flows {
  width: 100%;
}
.header .page-flows .flow {
  font-size: 15px;
  color: #4bd374;
  text-align: right;
}
.header .page-flows .flow .user_info .user_info_name:hover {
  color: white;
  text-decoration: seashell;
  cursor: pointer;
}
.header .page-flows .flow .user_info .logo span:hover {
  color: white;
  text-decoration: seashell;
  cursor: pointer;
}
.header .page-flows .user_info {
  width: 100%;
  display: flex;

}
.header .flow .user_info .logo {
  text-align: left;
  display: inline-flex;
}
.header .flow .user_info .logo span {
  justify-content: flex-start;
  text-align: left;
  width: 100%;
  font-size: 25px;
  margin-right: 20px;
  font-family: "Great Vibes", cursive;
}
.header .flow .user_info .logo #new {
  background-color: transparent;
  color: #f3e037;
  font-weight: 100;
  display: inline-block;
  border: none;
  text-align: center;
  white-space: nowrap;
  width: 100px;
}
.header .flow .user_info .logo #new:hover {
  color: #4bd374;
}
.header .flow {
  margin-left: auto;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.header .flow .user_info_img {
  display: inline-block;
  text-align: right;
  width: 90%;
  margin-top: 8px;
}
.header .user_info img {
  max-width: 30px;
  max-height: 30px;
  border-radius: 50%;

}
/* header ends */

#playlist {
  margin-top: 0%;
  /* border: 1px solid sienna; */
}
#playlist #playListImg img {
  width: 60%;
  border: 1px solid #4bd374;
}
/* weather info starts here */
#weatherInfo {
  margin-top: 50px;
  margin-bottom: 20px;
  vertical-align: middle;
  text-align: center;
  padding-top: 4%;
  display: flex;
}

#weatherInfo > div > img {
  width: 20%;
  height: 20%;
}

#location {
  font-size: 30px;
  font-weight: 600;
  padding: 20px;
}
.info {
  font-size: 30px;
  align-items: center;
  color: #2ebd59;
  padding: 10px;
}

.infoDetail {
  color: #2ebd59;
  padding: 8px;
}
.infoDetail > div {
  display: inline-block;
  text-align: left;
}
#precipitation,
#humidity,
#wind {
  padding: 10px;
}

hr {
  background-color: #2ebd59;
}
/* weather info ends */

/* playlist order starts here */
#playListOrder,
#weatherInfo {
  color: #2ebd59;

}
/* playlist style ends */

#login {
  display:show;
}
#zipCode {
  display: none;
}

.playlist{
  display: none;
}
.carousel-inner{
  box-sizing: content-box;
}
.user_info_name {
  padding-top: 13px;
  padding-left: 10px;
}