#login{
    margin-top: 200px;
}
#zipCode {
    width: 132px;
}
.cover {
    height: 200px;
    width: 200px;
    float: left;
    margin: 30px 30px 30px 30px;
}
#genre{  
    padding-top: 100px;
    text-align: center;

}
    img {
    height: 200px;
    width: 200px;
}
.container{
    position: relative;
    z-index: 1;
}
#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1;
}